/* ==== BASE ==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
  height: auto;
}
/* ==== REUSABLE CSS CLASSES ==== */
.grid {
  display: grid;
}
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.items-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
/* ################################# */
.body {
  min-height: 100vh;
  background: #f7f7f7;
}
.wrapper {
  margin-top: 50px;
  background: #fff;
  width: 450px;
  border-radius: 16px;
  box-shadow: 0 0 128px rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.5);
}
/* ############  SIGN UP PAGE  ############ */
.form {
  padding: 25px 30px;
}
.form header {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
}
.form form {
  margin: 20px 0;
}
.form form .error-txt {
  color: #721c24;
  background: #f8d7da;
  padding: 8px 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #f5c6cb;
  display: none;
}
.name-details {
  gap: 15px;
}
.form form .field {
  margin-bottom: 20px;
}
.form form .input input {
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
.form form .image input {
  font-size: 17px;
  border: none;
  padding-left: 0;
}
.form form .button input {
  margin-top: 13px;
  height: 45px;
  border: none;
  font-size: 17px;
  font-weight: 400;
  background: hsla(180, 78%, 32%, 0.5);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.form .link {
  margin: 10px 0;
  font-size: 17px;
}
.form .link a {
  margin-left: 5px;
  color: black;
}
.form .link a:hover {
  color: hsla(180, 78%, 32%, 0.5);
}
/* ############   USER LIST  ############## */
.users {
  padding: 25px 30px;
}
.users header,
.users-list a {
  justify-content: space-between;
  padding-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
}
.users header .content img,
.users-list a .content img,
.chat-area header img,
.chat-box .incoming img {
  border-radius: 50%;
  object-fit: cover;
}
.users header .content img {
  width: 50px;
  height: 50px;
}
:is(.users, .users-list) .details {
  margin-left: 15px;
  color: #000;
}
:is(.users, .users-list) .details span,
.chat-area header span {
  font-size: 18px;
  font-weight: 500;
}
.users header .logout {
  color: #fff;
  font-size: 17px;
  padding: 7px 15px;
  background: #333;
  border-radius: 5px;
  cursor: pointer;
}
.users .search {
  margin: 20px 0;
}
.users .search input {
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}
.users-list {
  height: 300px;
  overflow-y: auto;
}
.users-list::-webkit-scrollbar {
  width: 0;
}
.users-list a {
  padding-right: 15px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom-color: #f1f1f1;
}
.users-list a:last-child {
  border-bottom: none;
}
.users-list a .content img {
  height: 40px;
  width: 40px;
}
.users-list a .content p {
  color: #67676a;
}
.users-list .status-dot {
  font-size: 22px;
  color: #087420;
}
.users-list .offline {
  color: #ccc;
}
/* ###########   CHAT AREA    ############ */
.chat-area header {
  padding: 18px 30px;
  background: hsla(180, 78%, 32%, 0.5);
  border-radius: 16px 10px 0 0;
}
.chat-area header .back-icon {
  font-size: 18px;
  color: #333;
}
.chat-area header img {
  height: 45px;
  width: 45px;
  margin: 0 15px;
}
.chat-box::-webkit-scrollbar {
  width: 0;
}
.chat-box {
  background: #f7f7f7;
  height: 375px;
  overflow-y: auto;
  padding: 0 30px 20px 30px;
  box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
    inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
}
.chat-box .chat {
  margin: 10px 0;
}
.chat-box .chat p {
  padding: 8px 16px;
  box-shadow: 0 0 32px rgb(0 0 0 / 8%), 0 16px 16px -16px rgb(0 0 0 / 10%);
}
.outgoing .details {
  margin-left: auto;
  max-width: calc(100% - 130px);
}
.outgoing .details p {
  background: #333;
  color: #fff;
  border-radius: 10px;
}
.chat-box .incoming {
  align-items: flex-end;
}
.chat-box .incoming img {
  height: 35px;
  width: 35px;
}
.incoming .details {
  margin-left: 10px;
  margin-right: auto;
  max-width: calc(100% - 130px);
}
.incoming .details p {
  background: hsla(180, 78%, 32%, 0.5);
  color: #333;
  border-radius: 10px;
}
.chat-area .typing-area {
  padding: 13px 18px;
  justify-content: space-between;
  background: hsla(180, 12%, 70%, 0.5);
}
.typing-area input {
  height: 35px;
  width: calc(100% - 65px);
  font-size: 15px;
  border: 1px solid #ccc;
  padding: 0 13px;
  border-radius: 5px;
  outline: none;
}
.typing-area button {
  width: 55px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  background: hsla(180, 78%, 32%, 0.5);
  border: none;
  border-radius: 0 5px 5px 0;
}
